force-app/main/default/flows/phase2_approvalFlow_for_proposal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <constants>
        <description>承認済みステップのステータス値を格納します。定数の値は必ず Approve である必要があります。この定数は、デフォルトのフロー承認プロセスでは使用されません。1つ以上の承認ステップが承認されたかどうかを確認する必要があるケースで使用してください。他の値は使用しないでください。他の値を使用すると承認が失敗します。
Stores the value for the status of a step that&apos;s been approved. The value of the constant must be Approve. This constant isn&apos;t used in the default version of the flow approval process. Use it if you have cases where you need to check to see if one or more approval steps were approved. Don’t use any other values. Using other values causes the approval to fail.</description>
        <name>Approved</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </constants>
    <constants>
        <description>拒否されたステップのステータス値を格納します。定数の値は必ず Reject である必要があります。この定数は、フロー承認プロセスのデフォルトバージョンでは使用されません。1つ以上の承認ステップが拒否されたかどうかを確認する必要があるケースで使用してください。他の値は使用しないでください。他の値を使用すると承認が失敗します。
Stores the value for the status of a step that&apos;s been rejected. The value of the constant must be Reject. This constant isn&apos;t used in the default version of the flow approval process. Use it if you have cases where you need to check to see if one or more approval steps were rejected. Don’t use any other values. Using other values causes the approval to fail.</description>
        <name>Rejected</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject</stringValue>
        </value>
    </constants>
    <decisions>
        <name>check_approved</name>
        <label>check_approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendItemForApproval.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approved</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ApprovedPhase</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendItemForApproval.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Rejected</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RejectedPhase</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>phase2_承認フロー：商談：提案内容の承認申請 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>phase2_承認フロー：商談：提案内容の承認申請</label>
    <orchestratedStages>
        <name>ApprovedPhase</name>
        <label>ApprovedPhase</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>edit_opp_true_MGreview</name>
            <actionName>phase2_approval_stepflow_trueMGreview</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <label>edit_opp_true_MGreview</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>Sends an approval request to the configured reviewer. If your approval submission has approval work items that can be concurrently reviewed by different approvers, add more approval steps to this stage. If you have other processing to do, add background steps.Then update the label, API name, and description to reflect what this stage does. If there are more reviews for this submission that take place after the reviews in this stage, add Decision elements and Stage elements to this flow approval process to meet your needs.</description>
        <name>ProcessAppvlRqst</name>
        <label>Process an Approval Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_approved</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>get_submitterUsername</name>
            <actionName>phase2_stepFlow_getUsername</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>userId</name>
                <value>
                    <elementReference>submitter</elementReference>
                </value>
            </inputParameters>
            <label>get_submitterUsername</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>view_apply</name>
            <actionName>phase2_view_apply</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>get_submitterUsername.Outputs.userName</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>get_submitterUsername.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <label>申請者画面</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>get_approverUsername</name>
            <actionName>phase2_stepFlow_getUsername</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>view_apply.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>userId</name>
                <value>
                    <elementReference>view_apply.Outputs.approverId</elementReference>
                </value>
            </inputParameters>
            <label>get_approverUsername</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Creates an approval work item that runs the Review Approval Request screen flow for the specified approver. Select an approver to complete the step. If you have a custom screen flow to call for this approval step, for Action, remove Review Approval Request and select your custom screen flow. Lastly, update the label, API name, and description to reflect what this step does.</description>
            <name>SendItemForApproval</name>
            <actionName>phase2_stepFlow_view_approver</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>get_approverUsername.Outputs.userName</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>get_approverUsername.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>applyComment</name>
                <value>
                    <elementReference>view_apply.Outputs.applyComment</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <label>承認者画面</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>RejectedPhase</name>
        <label>RejectedPhase</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>RejectedPhase_1</name>
            <actionName>phase2_approval_stepflow_createToDo_atReject</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <elementReference>get_approverUsername.Outputs.userName</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>targetUserId</name>
                <value>
                    <elementReference>submitter</elementReference>
                </value>
            </inputParameters>
            <label>RejectedPhase の バックグラウンドステップ 1</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>ApprovalWorkflow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <sourceTemplate>standard_approvals__ProcSimpleAppvl</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ProcessAppvlRqst</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>承認リクエストに対するレビュアーのコメントを保存し、フロー承認プロセスからの出力として利用可能です。
Stores the reviewer comments for the approval request and is available as output from the flow approval process.</description>
        <name>approvalComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>承認申請の最終決定を保存し、フロー承認プロセスからの出力として利用可能です。有効な値は承認と却下です。他の値は使用しないでください。他の値を使用すると承認が失敗します。
Stores the final decision of the approval submission and is available as output from the flow approval process. Valid values are Approve and Reject. Don’t use any other values. Using other values causes the approval to fail.</description>
        <name>approvalDecision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ユーザーのユーザー名、またはグループやキューのAPI名を格納し、割り当てられた承認者を指定するために使用されます。フロー承認プロセスに複数の承認者がいる場合は、このフローに変数を追加してください。これは必須の入力変数です。
Stores a person&apos;s username or a group or queue&apos;s API name, and is used to designate the assigned approver. Add variables to this flow if you have more than one approver for your flow approval process. This is a required input variable.</description>
        <name>firstApprover</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>承認対象レコードのIDを格納し、フロー承認プロセスに渡されます。これは必須入力変数です。
Stores the ID of the record to be approved and is passed into the flow approval process. This is a required input variable.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>承認に関するレビュアーのコメントを保存し、フロー承認プロセスに渡されます。これは必須の入力変数です。
Stores the reviewer&apos;s comments about the approval and is passed into the flow approval process. This is a required input variable.</description>
        <name>submissionComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>view_apply.Outputs.applyComment</elementReference>
        </value>
    </variables>
    <variables>
        <description>承認を提出するユーザーのIDを保存し、フロー承認プロセスに渡されます。これは必須の入力変数です。
Stores the ID of the user submitting the approval and is passed into the flow approval process. This is a required input variable.</description>
        <name>submitter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
