force-app/main/default/flows/phase2_merge_CampaignMember.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>set_relation_for_Contact</name>
        <label>set_relation_for_Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>new_CampaignMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_existing_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_CampaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CampaignMember.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_CampaignMember_for_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_relation_for_Lead</name>
        <label>set_relation_for_Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>new_CampaignMember.LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_existing_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_CampaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CampaignMember.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_CampaignMenber_for_Lead</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>existing_CampaignMember_for_Contact</name>
        <label>existing_CampaignMember_for_Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>取引先責任者は既に同キャンペーンに参加しています</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <description>同キャンペーンに複数回応募しようとした場合、同じリレーションのキャンペーンメンバーの作成時にエラーが出るため、そのハンドリング</description>
        <name>existing_CampaignMenber_for_Lead</name>
        <label>existing_CampaignMenber_for_Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>このキャンペーンには既に応募しています。</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>isNull_CampaignMember</name>
        <label>isNull_CampaignMember</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>get_existing_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notNull</defaultConnectorLabel>
        <rules>
            <name>null_CampaignMember</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_CampaignMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>null_CampaignMember</label>
        </rules>
    </decisions>
    <decisions>
        <name>isNull_exist</name>
        <label>isNull_exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>isNew_Lead</defaultConnectorLabel>
        <rules>
            <name>existing_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_existing_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_relation_for_Contact</targetReference>
            </connector>
            <label>existing_Contact</label>
        </rules>
        <rules>
            <name>existing_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_existing_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_relation_for_Lead</targetReference>
            </connector>
            <label>existing_Lead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>phase2_複数キャンペーン応募時のキャンペーンメンバー統合 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>phase2_複数キャンペーン応募時のキャンペーンメンバー統合</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_CampaignMember_for_Contact</name>
        <label>create_CampaignMember_for_Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>delete_triggerLead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>existing_CampaignMember_for_Contact</targetReference>
        </faultConnector>
        <inputReference>new_CampaignMember</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_CampaignMenber_for_Lead</name>
        <label>create_CampaignMenber_for_Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>delete_triggerLead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>existing_CampaignMenber_for_Lead</targetReference>
        </faultConnector>
        <inputReference>new_CampaignMember</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>delete_triggerLead</name>
        <label>delete_triggerLead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>get_CampaignMember</name>
        <label>get_CampaignMember</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isNull_CampaignMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_existing_Contact</name>
        <label>get_existing_Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isNull_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_existing_Lead</name>
        <label>get_existing_Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_existing_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed - Converted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed - Not Converted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012dL00000AknzKQAR</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X1minutes</name>
            <connector>
                <targetReference>get_CampaignMember</targetReference>
            </connector>
            <label>1分待機</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>new_CampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
